.LoveItWrapp{ width:770px; margin:auto; height:auto; clear:both;}
.LoveItWrapp h2{ text-align: center;font-size: 38px;font-family: helvetica_neueregular;color: #ffffff;background: #de3277;width: 55%;margin:0px auto 60px auto; font-weight:bold; padding:5px 0px;}
.LoveItWrapp h2 img{ padding-left:5px;}
.loveItPost{ width:100%; clear:both; float:left; text-align:center; margin-bottom:40px;}
.loveItPost img{ clear:both;}
.loveItPost h3{ text-align: center;font-size: 38px;font-family: helvetica_neueregular;color: #000000; clear:both; font-weight:bold;}
.loveItPost p{font-family: Tahoma, Geneva, sans-serif;font-size: 14px;color: #272727; text-align:center; clear:both; line-height:20px; margin-top:19px;}
.loveItBottom p{ font-family:Georgia, "Times New Roman", Times, serif; font-size:24px; font-style:italic; color:#de3277; line-height:28px;}
.loveItBottom p a{ color:#000000; text-decoration:underline;}